{{ define "test/list.html" }}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <h1>
        {{ .data }}
    </h1>
    <link type="text/css" rel="stylesheet" href="/resource/css/framework.css" />
    <link type="text/css" rel="stylesheet" href="/resource/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/resource/sweetalert/sweetalert.css" />
    <style type="text/css">
        body {
            overflow-x: hidden;
        }
        select {
            height: 40px;
        }
        .fields.search > .field {
            margin-right: 5px;
        }
    </style>
</head>

<h1>
    {{ .msg }}
</h1>
<div class="ui grid">
    <div class="twelve wide column">
    <table class="ui p-nk table task-list">
    <thead>
    <tr>
        <th>任务ID</th>
        <th>任务名称</th>
        <th>任务分组</th>
        <th>任务类型</th>
        <th>cron表达式</th>
        <th>执行方式</th>
        <th>超时时间</th>
        <th>重试次数</th>
        <th>单实例运行</th>
        <th>任务节点</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    </tbody>
</table>
    </div>
</div>
</html>
{{ end }}