{{ define "test/list.html" }}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <link type="text/css" rel="stylesheet" href="/resource/css/framework.css" />
    <link type="text/css" rel="stylesheet" href="/resource/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/resource/sweetalert/sweetalert.css" />
    <style type="text/css">
        body {
            overflow-x: hidden;
        }
        select {
            height: 40px;
        }
        .fields.search > .field {
            margin-right: 5px;
        }
    </style>
</head>

<h1>
    {{ .msg }}
</h1>
<div class="ui grid">
    <div class="twelve wide column">
    <table class="ui p-nk table task-list">
    <thead>
    <tr>
        <th>编号</th>
        <th>地名</th>
        <th>洲</th>
        <th>地区</th>
        <th>面积</th>
        <th>独立年份</th>
        <th>人口</th>
        <th>寿命期望</th>
        <th>GNP</th>
        <th>GNPOld</th>
        <th>当地地名</th>
        <th>国体</th>
        <th>首都</th>
        <th>编码</th>
        <th>编号-2</th>
    </tr>
    </thead>
    <tbody>
    </tr>
    {{range $i, $v := .data}}
    <tr>
    <td>{{.Code}}</td>
    <td>{{.Name}}</td>
    <td>{{.Continent}}</td>
    <td>{{.Region}}</td>
    <td>{{.Surfacearea}}</td>
    <td>{{.Indepyear}}</td>
    <td>{{.Population}}</td>
    <td>{{.Lifeexpectancy}}</td>
    <td>{{.Gnp}}</td>
    <td>{{.Gnpold}}</td>
    <td>{{.Localname}}</td>
    <td>{{.Governmentform}}</td>
    <td>{{.Headofstate}}</td>
    <td>{{.Capital}}</td>
    <td>{{.Code2}}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
    </div>
</div>
</html>
{{ end }}